{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <script src="{% static 'js/base.js' %}"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <title>open-chat-app</title>
  </head>
  <style type="text/css">
    .main {
      min-height: 100vh;
      height: 100%;
    }
  </style>
  <body>
    {% include 'snippets/header.html' %}
    <div class="main">{% block content %} {% endblock %}</div>

    {% include 'snippets/footer.html' %}

    <script src="{% static 'bootstrap/js/jquery-3.5.1.slime.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
